/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #34495e 0%, #16a085 100%);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  background: rgba(0,0,0,0.2);
  padding: 20px 5px;
}
a:hover {
  background: rgba(0,0,0,0.4);
}


.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  display: flex;
}
/* first item of nested */ 
.slider-nav li {
  flex: 2;
  border: 1px solid #4C4A48;
  text-align: center;
  display: flex; /* nested container */
}

.arrow a {
  font-size: 2.5rem; /* won't mess up vertical centering with flexbox */ 
}

.slider-nav .arrow {
  flex: 1;
}

.slider-nav a {
  flex-basis: 100%;
  display: flex; /* stretch as well as center */
  align-items: center;
}

.slider-nav span {
  display: block;
  width: 100%;
}

